{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center">
    <form action="" method="POST">
        {% csrf_token %}
        <table border="3" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>Brand Name</td>
                <td><input type="text" name="brand" id="" value=""></td>
            </tr>
            <tr></tr>
            <td colspan="2" align="center"><input type="submit" value="save">
            <input type="reset" value="cancal"></td>
            </tr>
        </table>
        <br><br><br>
        <table border="3" align="center" cellpadding="10">
            <tr>
                <th>SI.NO</th>
                <th>Brand</th>
                <th>Action</th>
            </tr>
            {%for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i}}</td>
                <td><a href="{%  url 'webadmin:delbarandname' i.id %}">DELETE/</a>|<a href="{%  url 'webadmin:editbrandname' i.id %}">EDIT</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </body>
    <br><br>
</html>

{% endblock content %}

