{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="3" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>District Name</td>
                <td><input type="text" name="diss" id="" value="{{data}}"></td>
            </tr>
            <tr></tr>
            <td colspan="2" align="center"><input type="submit" value="save">
            <input type="reset" value="cancal"></td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock content %}
