{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" >
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>Brands</td>
                <td>
                    <select name="bradrop">
                        <option value="">--select--</option>
                        {% for i in br %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Models</td>
                <td><input type="text" name="txt"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btn1" value=" SAVE ">
                    <input type="reset" value=" CLEAR ">
                </td>
            </tr>
        </table>
        <br><br><br>
        <table>
            <table border="3" align="center" cellpadding="10">
                <tr>
                    <th>SI.NO</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>ACTION</th>
                </tr>
                {%for i in mod %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.brand}}</td>
                    <td>{{i}}</td>
                    <td><a href="{%  url 'webadmin:delemodel' i.id %}">DELETE</a>
                </tr>
                {% endfor %}
                
        </table>
    </form>
</body>
<br><br>
</html>

{% endblock content %}
