{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="3" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>District</td>
                <td>
                    <select name="distdrop">
                        <option value="">--select--</option>
                        {% for i in dis %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="txt1"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btn1" value=" SAVE ">
                    <input type="reset" value=" CLEAR ">
                </td>
            </tr>
        </table>
        <br><br>
        <table>
            <table border="3" align="center" cellpadding="10">
                <tr>
                    <th>SI.NO</th>
                    <th>Place</th>
                    <th>District</th>
                    <th>ACTION</th>
                </tr>
                {%for i in pl %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.district}}</td>
                    <td>{{i}}</td>
                    <td><a href="{%  url 'webadmin:delplace' i.id %}">DELETE</a>
                </tr>
                {% endfor %}
                
        </table>
    </form>
    <br><br>
</body>
</html>

{% endblock content %}
