{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <h3 align="center">User Complaints...</h3><br><br>
    <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <th>SI.No</th>
            
            <th>Complaint Title</th>
            <th>content</th>
            <th>Action</th>
        </tr>
        {% for i in ab %}
        <tr>
            <td>{{forloop.counter}}</td>
         
            <td>{{i.complaint_title}}</td>
            <td>{{i.content}}</td>
            <td><a href="{%  url 'webadmin:replay' i.id %}">SENT A REPLAY</a> |<a href="{%  url 'webadmin:Viewuserdetails' i.id %}">VIEW User Information</a> </td>
        </tr>
        {% endfor %}
    </table>
    
    <br><br>
    <h3 align="center">Seller complaints....</h3><br>
    <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <th>SI.No</th>
            
            <th>Complaint Title</th>
            <th>content</th>
            <th>Action</th>
        </tr>
        {% for i in sellf %}
        <tr>
            <td>{{forloop.counter}}</td>
     
            <td>{{i.complaint_title}}</td>
            <td>{{i.content}}</td>
            <td><a href="{%  url 'webadmin:replay' i.id %}">SENT A REPLAY</a> |<a href="{%  url 'webadmin:sellerdetails' i.id %}">VIEW User Information</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock content %}