{% extends 'User/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .pcoded-inner-content{
        background-image: url(../../../Guest/static/main/images/zzzz.avif);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        
    }
    .clrfrm{
        background-color:rgb(243, 242, 205);
        opacity:95%;
    }
    </style>
    <div class="pcoded-inner-content">
    <br><br><br>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="4" align="center" cellpadding="10" style="border-collapse: collapse;" class="clrfrm">
            <tr>
                <td>Current Password</td>
                <td><input type="text" name="Cpass" id=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="Npass" id=""></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="Copass" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Change password">
                <input type="reset" value="Cancel"></td>
            </tr>
        </table>
        {{ER}}
    </form>
</body>
<br><br><br>
</div>
</html>

{% endblock content %}