{% extends 'User/Head.html' %}
{% load static %}
{% block content %}
{%  if data %}
<table align="center" cellpadding="50" style="border-collapse: collapse">
    <tr>
        {% for i in data %}

        <td>
            <div style="text-align:center;border:1px solid rgb(196, 177, 177);margin:22px;padding:20px">

                <p><img src="{{i.images.url}}" width="250px" height="250px" /></p>
                <br>
               
            </div>
        </td>
        {% if forloop.counter|divisibleby:4 %}
    </tr>
    <tr>
        {% endif %}


        {% endfor %}
</table>
{%  endif %}

{% endblock content %}