{% extends 'Seller/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .pcoded-inner-content{
        background-image: url(../../../Guest/static/main/images/ccc.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        
    }
    .clrfrm{
        background-color: rgb(225, 243, 243);
        opacity:95%;
    }
</style>
<div class="pcoded-inner-content">
<body>
    {% csrf_token %}
    <table border="0" align="center" cellpadding="10" class="clrfrm">
        <tr>
            <td colspan="3" align="center"><h3>Assign Order</h3></td>
        </tr>
        <tr>
            <th>SL.No</th>
            <th>Name</th>
            <th>Conatct</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        {% for i in Ddboy %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address}}</td>
            <td><a href="{% url 'seller:assign' i.id %}">ASSIGN</a></td>
        </tr>
        {% endfor %}
    </table>
    <br><br><br>
</div>
</body>
</html>

{% endblock content %}