{% extends 'Seller/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.pcoded-inner-content{
    background-image: url(../../../Guest/static/main/images/pexels-photo-4393426.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
}
.clrfrm{
    background-color: rgb(225, 243, 243);
    opacity:95%;
}
</style>
<div class="pcoded-inner-content">
<body>
    <br><br><br>
    <form action="" method="POST" id="UserForm" enctype="multipart/form-data" data-place-url="{% url 'Guest:Ajax-place' %}">
        {% csrf_token %}
        <table border="0" align="center" cellpadding="10" style="border-collapse: collapse;" class="clrfrm">
            <tr><td colspan="2" align="center"><h3><u>Add Your Deliveryboys Here...</u></h3></td></tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Dname" id="" value="" required="" autocomplete="off" onchange="nameval(this)">
                    <div id="name"></div></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="Dcontact" id="" value=""minlength="10" maxlength="10" required="" autocomplete="off" onchange="checknum(this)">
                    <div id="contact"></div></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="email" name="Demail" id="" value="" required="" autocomplete="off" onchange="emailval(this)">
                    <div id="content"></div></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="Dadder" id="" cols="23" rows="5" required="" autocomplete="off"></textarea></td>
            </tr>
            <tr>
                <td>District</td>
                <td><select name="Ddisid" id="Ddisid">
                    <option value="">--select--</option>
                    {% for i in dis %}
                        <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><select name="Dselplace" id="Dselplace">
                    <option value="">--select--</option>
                    <option value=""></option>
                </select></td>
            </tr>
            <tr>
                    <td>Photo</td>
                    <td><input type="file" name="Dfile" id=""></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="Dpass" id=""></td>
                </tr>
                <tr>
                    <td>Conform password</td>
                    <td><input type="password" name="cpswd" id="" required="" autocomplete="off" onchange="chkpwd(this,Dpass)">
                        <div id="pass"></div></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Register" name="btnsave"> <input type="reset" value="Cancel" name="btncan"></td>
                </tr>
            </table>
            <br><br><br>
            <table border="1" align="center" cellpadding="10" class="clrfrm">
                <tr>
                    <th>SL.No</th>
                    <th>Name</th>
                    <th>Conatct</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
                {% for i in dboy %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.address}}</td>
                    <td><a href="{% url 'seller:deldboy' i.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $("#Ddisid").change(function () {
                var did = $(this).val();
                var ur = $("#UserForm").attr("data-place-url");
                $.ajax({
                    url: ur,
                    data: { disd: did, },
                    success: function (data) {
                        $("#Dselplace").html(data);
                    },
                });
            });

            function chkpwd(txtrp, txtp)
        {
            if((txtrp.value)!=(txtp.value))
            {
                document.getElementById("pass").innerHTML = "<span style='color: red;'>Passwords Mismatch</span>";
            }
        }
        
        function checknum(elem)
        {
            var numericExpression = /^[0-9]{8,10}$/;
            if(elem.value.match(numericExpression))
            {
                document.getElementById("contact").innerHTML = "";
                return true;
            }
            else
            {
                document.getElementById("contact").innerHTML = "<span style='color: red;'>Numbers Only Allowed</span>";
                elem.focus();
                return false;
            }
        }
        
        
        
        function emailval(elem)
        {
            var emailexp=/^([a-zA-Z0-9.\_\-])+\@([a-zA-Z0-9.\_\-])+\.([a-zA-Z]{2,4})$/;
            if(elem.value.match(emailexp))
            {
                document.getElementById("content").innerHTML = "";
                return true;
            }
            else
            {
                
                document.getElementById("content").innerHTML ="<span style='color: red;'>Check Email Address Entered</span>";;
                elem.focus();
                return false;
            }
        }
        function nameval(elem)
        {
            var emailexp=/^([A-Za-z ]*)$/;
            if(elem.value.match(emailexp))
            {
                document.getElementById("name").innerHTML = "";
                return true;
            }
            else
            {
                
                document.getElementById("name").innerHTML = "<span style='color: red;'>Alphabets Are Allowed</span>";
                elem.focus();
                return false;
            }
        }
        </script>
    <br><br><br>
    </div>
</body>
</html>

{% endblock content %}