{% extends 'Seller/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .pcoded-inner-content{
        background-image: url(../../../Guest/static/main/images/ccc.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        
    }
    .clrfrm{
        background-color: rgb(225, 243, 243);
        opacity:95%;
    }
</style>
<div class="pcoded-inner-content">
<body>
    <br><br><br>
    {% csrf_token %}
    <table border="1" align="center" cellpadding="10" class="clrfrm">
        <tr><td colspan="8" align="center"><h3><u>Rejected Orders</u></h3></td></tr>
        <tr>
            <th>SL.No</th>
            <th>Customer Name</th>
            <th>Item selected</th>
            <th>Total Price</th>
            <th>Delevery address</th>
            <th>Place</th>
            <th>Distict</th>
            <th>Action</th>
        </tr>
        {% for i in Pdt %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.booking.user.name}}</td>
                <td>{{i.product.name}}</td>
                <td>{{i.product.rate}}</td>
                <td>{{i.booking.user.address}}</td>
                <td>{{i.booking.user.place}}</td>
                <td>{{i.booking.user.place.district}}</td>
                <td><a href="{% url 'seller:acceptorder' i.booking_id %}">ACCEPT</a></td>
            </tr>
            {% endfor %}
    </table>
    <br><br><br>
</div>
</body>
</html>

{% endblock content %}