{% extends 'Seller/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .pcoded-inner-content{
        background-image: url(../../../Guest/static/main/images/pexels-photo-134069.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        
    }
    .clrfrm{
        background-color: rgb(233, 233, 171);
        opacity:95%;
    }
    </style>
    <div class="pcoded-inner-content">
<body>
    <br><br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;" class="clrfrm">
            <tr>
                <td colspan="2" align="center"><img src="{{s.logo.url}}" alt="img" width="120px" height="120px" style="border-radius: 60px;"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{s.name}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{s.contact}}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{s.email}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{s.address}}</td>
            </tr>
            <tr>
                <td>District</td>
                <td>{{s.place.district}}</td>
            </tr>
            <tr>
                <td>Place</td>
                <td>{{s.place}}</td>
            </tr>
            <tr>
                <td><a href="{%  url 'seller:editseller' s.id %}">EDIT_PROFILE</a></td>
                <td> <a href="{%  url 'seller:changepassseller' s.id %}">CHANGE_PASSWORD</a></td></td>
            </tr>
        </table>
    </form>
    <br><br>
</div>
</body>
</html>

{% endblock content %}