{% extends 'Seller/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .pcoded-inner-content{
        background-image: url(../../../Guest/static/main/images/pexels-photo-1323712.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        
    }
    .clrfrm{
        background-color: rgb(225, 243, 243);
        opacity:95%;
    }
    </style>
    <div class="pcoded-inner-content">
<body>
    <br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" border="0" class="clrfrm">
            <tr><td colspan="2" align="center"><h4 align="center">Send your complaints Here........</h4></td></tr>
            <tr>
                <td>Complaint Title</td>
                <td><input type="text" name="title1" id=""></td>
            </tr>
            <tr>
                <td>Complaint content</td>
                <td><textarea name="content1" id="" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Register Complaint"></td>
            </tr>
        </table>
        <br><br>
        <table align="center" border="2" class="clrfrm">
            <tr>
                <th>SI no</th>
                <th>Date</th>
                <th>Title</th>
                <th>Content</th>
                <th>Replay</th>
            </tr>
            <tr>
            {% for i in sellf %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.date}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.content}}</td>
            <td>{{i.complaint_replay}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
    <br><br><br>
</div>
</body>
</html>

{% endblock content %}