{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="data">
        <table align="center" cellpadding="50" style="border-collapse: collapse">
            <tr>
                {% for i in data %}

                <td>
                    <div style="text-align:center;border:1px solid rgb(196, 177, 177);margin:22px;padding:20px">

                        <p><img src="{{i.photo.url}}" width="100px" height="100px" /></p>
                        <br>
                        <p>{{i.name}}</p>
                        <br>
                        <p>{{i.rate}}</p>
                        <br>
                        <p><a href="{% url 'Guest:login'%}" class="btn btn-success">Add to Cart</a></p>
                        <br>
                        <p><a href="{% url 'Guest:login' %}" class="btn btn-success">View Gallery</a></p>
                        <br>
                    </div>
                </td>
                {% if forloop.counter|divisibleby:4 %}
            </tr>
            <tr>
                {% endif %}


                {% endfor %}
        </table>
</body>
</html>

{% endblock content %}
